/* #home .active::after {
  content: "HOME";
  color: transparent;
  padding: 2.5rem;
  left: -20%;
  top: -90%;
  position: absolute;
  background-image: url("../assets/img/lingkaran-red.svg");
} */

#home {
  overflow: hidden;
}

#home .episode {
  color: var(--color-red);
}

#home .menu__wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar in FF */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#home .menu__item {
  flex: none;
  margin-right: 3rem;
  padding: 1rem;
}

#home .menu__item-episode {
  display: flex;
  justify-content: flex-start;
}

#home .menu__item-title {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 13px;
  padding: 0 0.5rem;
}

#home .menu__item-inner {
  font-family: "Bigilla", serif;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  font-size: 7vw;
  padding: 0.5rem;
  display: block;
  color: var(--color-text);
  transition: transform 0.2s;
  text-align: end;
}

#home .menu__item-inner:hover {
  font-style: italic;
  transform: translate3d(2rem, 0, 0);
  color: var(--color-red);
}

#home .menu__item-inner:hover::before {
  opacity: 1;
}

#home .menu__item-inner::after {
  content: url("../assets/img/play-button.svg");
  width: 2rem;
  height: 1px;
  bottom: 100%;
  position: absolute;
  right: calc(100%);
  opacity: 0;
  /* pointer-events: none; */
}

#home .menu__item-inner:hover::after {
  opacity: 1;
}

/* Pseudo-element for making sure that hover area is active */

::-webkit-scrollbar {
  display: none;
}

/* media query  */

/* Small devices (landscape phones, 500px and up) */
@media (min-width: 500px) {
  #home .menu__item {
    margin-right: 3.5rem;
  }
}

@media (min-width: 600px) {
  #home .menu__item {
    margin-right: 4rem;
  }
}

/* Medium devices (landscape phones, 768px and up) */
@media (min-width: 768px) {
  #home .menu__item {
    margin-right: 14%;
  }
  #home .menu__item-inner {
    font-size: 5vw;
  }
  #home .menu__item-title {
    font-size: 16px;
  }
}

/* Large devices (landscape phones, 812px and up) */
@media (min-width: 812px) {
  #home .menu__item {
    margin-right: 20%;
  }
  #home .menu__item-inner::before {
    content: "";
    top: 55%;
    width: 3.5rem;
    height: 1px;
    background: currentColor;
    position: absolute;
    right: calc(100% + 2rem);
    opacity: 0;
    pointer-events: none;
  }
  #home .menu__item-inner::after {
    content: url("../assets/img/play-button.svg");
    width: 2rem;
    height: 1px;
    bottom: 100%;
    position: absolute;
    left: calc(100% + 2rem);
    opacity: 0;
    /* pointer-events: none; */
  }
}
