.active::after {
  /* content: "MEET THE HOST"; */
  content: "";
  color: transparent;
  width: 140%;
  height: 250%;
  left: -20%;
  top: -83%;
  z-index: -1;
  position: absolute;
  background-image: url("../assets/img/lingkaran-red.svg");
}
.mt-3 {
  margin-top: 3rem;
}

/* Hero */
.desktop {
  display: none;
}
.mth-hero-mb {
  display: flex;
  flex-direction: column;
}
.mth-hero-mb img {
  width: 100%;
}
.mth-text-mb {
  align-self: center;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.mth-title-mb {
  font-family: "Bigilla";
  font-weight: bold;
  line-height: 0.9;
  margin-top: -3vh;
  font-size: 30vw;
  color: var(--color-pink);
}
/* End hero */

/* Description */
.mth-description {
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}
/* End description */

/* Image */
.photo-eva {
  right: 0;
  opacity: 0.05;
  z-index: -1;
  width: 80%;
  position: absolute;
  margin-top: 27vh;
}
/* End image */

/* Eye */
#mth .button {
  margin: 0 23vw;
}
/* End eye */

/* Scrolling socials */
#mth .scrolling-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mth .scrolling-socials h2 {
  font-size: 1.2rem;
}
#mth .scrolling-socials ul {
  padding-top: 1.5rem;
}
#mth .scrolling-socials li {
  padding: 0.3rem 0;
}
/* End scrolling socials */

/* Media query */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .photo-eva {
    margin-top: 0;
  }
}

/* Medium devices (desktops, 768px and up) */
@media screen and (min-width: 768px) {
  /* Hero */
  .mth-text {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
  /* End hero */

  /* Eye  */
  #mth .button {
    margin: 3vh 37vw;
  }
  /* End Eye */

  /* Image */
  .photo-eva {
    margin-top: -18rem;
    width: 65vw;
  }
  /* End image */
}

/* Large devices (desktops, 812px and up) */
@media screen and (min-width: 812px) {
  /* Hero  */
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .mth-hero-dsk {
    display: flex;
    flex-direction: row;
  }
  .mth-hero-dsk img {
    max-width: 55%;
    object-fit: contain;
  }
  .mth-title {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .mth-text-dsk {
    font-size: 2.5vw;
    text-align: center;
    padding-top: 2rem;
  }
  .mth-title-dsk {
    font-family: "Bigilla";
    font-weight: bold;
    line-height: 0.85;
    margin-top: 5rem;
    font-size: 18vw;
    color: var(--color-pink);
  }
  .im {
    margin-left: 13rem;
  }
  .eva {
    margin-left: 5rem;
  }
  /* End hero */

  /* Description */
  .mth-description {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 5rem 35vw 0 15vw;
  }
  /* End description  */

  /* Eye  */
  #mth .button {
    margin: 3vh 72vw;
  }
  /* End eye  */

  /* Collaborate  */
  .collaborate {
    font-size: 9vw;
    text-align: left;
    padding-left: 7rem;
  }
  /* End collaborate  */

  .photo-eva {
    margin-top: -31rem;
    width: 60vw;
    height: auto;
  }

  /* #mth .arrow-contact {
    align-items: flex-end;
    margin-top: -5rem;
  }

  #mth .scrolling-socials {
    align-items: center;
    margin-left: -25rem;
    margin-bottom: 6rem;
  }
  #mth .scrolling-socials h2 {
    font-size: 1.7rem;
    line-height: 2.2rem;
  } */
}
