@import "./css/reset.css";
@import "./css/base.css";
@import "./css/menu.css";
@import "./css/bghover.css";
@import "./css/hamburger.css";
@import "./css/navbar.css";
@import "./css/cta.css";
@import "./css/eye.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Bigilla";
  src: url("./assets/fonts/Bigilla.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bigilla";
  src: url("./assets/fonts/Bigilla-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
